/* answers component */
.answers {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    margin: 2rem 0;
    grid-auto-flow: column;
  }

  .answers li{
    list-style: none;
  }
  
  @media only screen and (max-width: 1024px) {
    .answers {
      grid-auto-flow: unset;
      margin: 1rem 0;
    }
  }
  
  .answer {
    width: 70%;
    height: 58px;
    background: var(--questionBG);
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0 1.1rem;
    cursor: pointer;
    border-radius: 4px;
  }

  
  .answer:hover {
    background: hsla(229, 20%, 57%, 0.253);
  }
  
  .answer input {
    margin-right: 15px;
  }
  
  .answer span {
    width: 100%;
  }

 .answer_groupBtn{
    display: flex;
    width: 100%;
justify-content: space-between;
  }
  
  .answer span:nth-of-type(2) {
    text-align: right;
    color: #4e536f;
    font-size: 14px;
  }
  
  .correct {
    background: var(--successGreen) !important;
    font-weight: 600;
  }
  
  .wrong {
    background: var(--dangerRed) !important;
    font-weight: 600;
  }

  .answer_btn{
    font-size: 1.2vw;
    
  }
 .submit{
  display: flex;
  justify-content: flex-end;
  align-items: left;
  margin-top: -1.4rem;
  
}

.selected_option{
  color: red;
}
  

  @media screen and (max-width:1024px){
    .answer_btn{
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width:375px){
    .answer_btn{
      font-size: 1rem;
    }
    .submit{
      margin-top: -1.2rem;
    }
  }
  @media screen and (max-width:320px){
    .answer_btn{
      font-size: .8rem;
    }

    .submit{
      margin-top: -1rem;
    }
  }