.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 1rem;
    font-size: 3rem;
}

.home p {
    margin-bottom: 2rem;
    font-style: italic;
}

.icon {
    height: 30rem;
    width: 30rem;
    margin-top: 1rem;
    border-radius: 50%;
}

.quiz_btn .span {
    color: black;
}
.quiz_btn .span:hover {
    color: white;
}